.navbar-toggler:hover > i {
    color: #21c87a;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {

}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .navbar-custom {
        border-bottom: 1px solid #e3e6f0;
        background-color: transparent  !important;
    }
    .navbar-custom .collapse {
        border-right: 1px solid #e3e6f0;
        border-left: 1px solid #e3e6f0;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}